
.main-menu-open{
    width: 78%;
}

.main-menu-close{
    width: 100%;
}

.container-main{
    padding-top: 62px;
    transition: all 1s ease-in-out;
}



@media (max-width: 640px) {
    .main-menu-open{
        width: 100%;
    }

    .back-overflow{
        height: 100vh;
        overflow: auto;
    }
}
    