.navbar{
    top: 0;
    left: 0;
    border-radius: 0;
    position: absolute;
    width: 97%;
    background: var(--color-secondary-light);
    border-bottom: 0px solid var(--color-quaternary);
    border-right: 0px solid var(--color-quaternary);
    padding: 15px 0 15px 0;
    z-index: 2;
    transition: all 1s ease-in-out;
}

.nav-menu-open{
    width: 78%;
}

.nav-menu-close{
    width: 100%;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0 8rem 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li{
    margin-right: 20px;
    cursor: pointer;
}

.navbar ul li a,
.navbar ul li span,
.toggle-menu{
    color: var(--color-quinary);
    text-decoration: none;
    margin-right: 4px;
    padding: 0 4px 0 4px;
    border: transparent solid 4px;
    transition: all 0.3s;
}

.navbar ul li a,
.navbar ul li span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.navbar ul li p{
    margin: 0;
    padding: 0;
}

.navbar ul li a:hover,
.navbar ul li span:hover{
    border: var(--color-primary) solid 4px;
    border-radius: 1.2rem;
    color: var(--color-quinary);
}

.toggle-menu{
    cursor: pointer;
    position: absolute;
    right: 1rem;
}


@media (max-width: 640px) {

    

    .nav-menu-open{
        width: 99%;
    }

    .navbar{
        width: 99%;
        position: absolute;
    }

    .navbar ul{
        margin-left: 15px;
        padding: 0;
        justify-content: start;
    }
    .navbar ul li{
        margin-right: 2.3rem;
    }

    .navbar ul li a{
        flex-direction: column;
    }
}
    
