.navbar{
    background-color: #f8f8f8;
    border-bottom: 2px solid black;
    padding: 15px 0 15px 0;
}

.nav-menu-open{
    width: 75%;
}

.nav-menu-close{
    width: 100%;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0 8rem 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li{
    margin-right: 20px;
}

.navbar ul li span{
    cursor: pointer;
}



@media (max-width: 640px) {

    .nav-menu-open{
        width: 100%;
    }

    .navbar{
        width: 100%;
    }

    .navbar ul{
        padding: 0;
    }
}
    
