.navbar{
    top: 0.3rem;
    left: 0.3rem;
    border-radius: 25px;
    position: absolute;
    width: 97%;
    background: var(--color-primary);
    border-bottom: 0px solid var(--color-quaternary);
    border-right: 0px solid var(--color-quaternary);
    padding: 15px 0 15px 0;
    z-index: 2;
    transition: all 1s ease-in-out;
}

.nav-menu-open{
    width: 78%;
}

.nav-menu-close{
    width: 99%;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0 8rem 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li{
    margin-right: 20px;
}

.navbar ul li span
{
    cursor: pointer;
}

.navbar ul li a,
.navbar ul li span,
.toggle-menu{
    color: var(--color-quinary);
    text-decoration: none;

}

.navbar ul li a:hover,
.navbar ul li span:hover{
    color: var(--color-quaternary);
}

.toggle-menu{
    cursor: pointer;
    position: absolute;
    right: 1rem;
}


@media (max-width: 640px) {

    

    .nav-menu-open{
        width: 99%;
    }

    .navbar{
        width: 99%;
        position: absolute;
    }

    .navbar ul{
        margin-left: 15px;
        padding: 0;
        justify-content: start;
    }
    .navbar ul li{
        margin-right: 2.3rem;
    }
}
    
