.faq {
    display: flex;
    flex-direction: column;
    background: rgb(38, 38, 38,0.8);
}

.faq h1 {
    margin: 0;
}


@keyframes leftToRight {
    from {
        left: -100%;
        opacity: 25%;
    }
    to {
        opacity: 100%;
        left: 0%;
    }
}

@keyframes rightToLeft {
    from {
        right: -100%;
        opacity: 25%;
    }
    to {
        opacity: 100%;
        right: 0%;
    }
}

.where {
    position: relative;
    padding-right: 35%;
    margin: 1rem 2rem 0.5rem 2rem;
    animation: leftToRight 3s ;
}


.what {
    position: relative;
    padding-left: 35%;
    margin: 1rem 2rem 0.5rem 2rem;
    animation: rightToLeft 3s ;
}

.what-hope {
    position: relative;
    padding-right: 35%;
    margin: 1rem 2rem 0.5rem 2rem;
    animation: leftToRight 3s ;
}


.where .divisor,
.what-hope .divisor {
    position: absolute;
    top: 2.2rem;
    border-bottom: var(--color-primary) solid 4px;
    width: 90%;
}



.what .divisor {
    position: absolute;
    top: 2.2rem;
    right: 0;
    border-bottom: var(--color-primary) solid 4px;
    width: 90%;
}




.where p,
.what p,
.what-hope p {
    margin-top: 1.3rem;
    text-align: justify;
    font-size: 1.5em;
}

.where p > i{
    color: var(--color-primary);
    font-style: normal;
    font-weight: bold;
}

@media (max-width: 640px) {
    .where,
    .what,
    .what-hope {
        padding-left: 0;
        padding-right: 0;
    }
}